@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.bg {
    /* The image used */
    background-image: url('../images/lofi_camp.jpg');

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.head {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.solid {
    opacity: 0.9;
    background: white;
}

a#navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

a.nav-link.navvy {
    color: white;
}

a.navlink:hover {
    color: #FF5833;
}

a.navlink-passive {
    color: white;
}

body, html {
    font-family: 'Lato', sans-serif;
    height: 100%;
}

h1.heading {
    font-family: 'Open Sans Condensed', sans-serif;
}

h2.heading {
    font-family: 'Open Sans Condensed', sans-serif;
}

h3.heading {
    font-family: 'Open Sans Condensed', sans-serif;
}

img.menu-icon {
    height: 2rem;
}