<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="form-container">
    <div class="row justify-content-center">
        <div class="head solid col-12 col-sm-10 col-md-7 px-4">
            <h1 class="text-center heading">What is this?</h1>
            <hr>
            <p class="text-center">
                <strong>
                    Campground Scavenger is an app that makes finding and reserving campgrounds easier.
                </strong>
            </p>
            <h3 class="heading text-center">How does it do that?</h3>
            <p class="text-center">
                If you've ever reserved a campground online before, chances are you have used recreation.gov. It's
                the online portal to all of the federally managed campgrounds in the United States. Thousands of
                campgrounds in popular locations like Zion, the Grand Canyon, and Yosemite can only be reserved
                through recreation.gov.
                <br><br>
                Unfortunately, recreation.gov is grossly inefficient.
                <br><br>
                On recreation.gov, campgrounds can only be reserved or checked through their individual webpages. If
                you are only interested in one specific campground, that's not a problem. But what if you want to see
                if ANY campgrounds in a park are available? There are ~30 different campgrounds in Sequoia National
                Forest, so to check them all would mean you have to visit ~30 different webpages.
            </p>
            <h3 class="heading text-center">Campground Scavenger can Mass Check</h3>
            <p class="text-center">
                Campground Scavenger allows you to mass check as many campgrounds as you wish with the single
                click of a button. It also provides links to each
                campground checked, so you can quickly and easily make reservations. So now you can check all 30
                campgrounds in Sequoia National Forest in seconds.
                <br>
            </p>
            <h3 class="heading text-center">How to use</h3>
            <ol class="text-left">
                <li>Go to <a href="{% url 'campgrounds' %}">Campgrounds</a> and search your desired parent zone (i.e. Kings Canyon National Park)</li>
                <li>Copy the ID numbers, and go to the <a href="{% url 'availability' %}">Availability</a> page</li>
                <li>Paste them in the input field, along with your target dates, and submit</li>
                <li>Wait for your results to appear!</li>
            </ol>
            <p class="text-center">I hope this makes it easier for you to plan your next outdoor excursion. Enjoy!</p>
            <br>
            <h4 class="heading text-center">API</h4>
            <p class="text-center">You can visit the API to access our campground database. Each campground object in the database
            includes a name, ID number, and parent zone name.</p>
            <br>
            < class="text-center"p>If you have any questions, comments, or would like to contribute data, please
                <a href="{% url 'contact' %}">contact me!</a></p>
        </div>
    </div>
    <!--Github link-->
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-7 solid pb-2 text-center">
            <a href="https://github.com/ntogasa/campground_checker">
                <img src="{% static 'images/GitHub-Mark-32px.png' %}">
                <br>
                <p>Find the source code here</p>
            </a>

        </div>
    </div>
</div>
{% endblock %}
