<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Check availability{% endblock %}


{% block content %}
    <div class="form-container">
        <div class="row justify-content-center">
            <div class="head col-12 col-sm-9 col-md-7 solid text-center px-4">
                <h1 class="heading">Let's get scraping</h1>
                <hr>
                <p>
                    Here you can easily scrape campsite availabilities from recreation.gov.
                    <br>
                    Go to the <a href="{% url 'campgrounds' %}"> Campgrounds </a> page to find campground IDs.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-9 col-md-7 solid px-4">
                <form class = "availability-form" action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-success" type="submit" value="Submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-9 col-md-7 pb-4 solid px-4">
                <br>
                <small>Campground IDs are six digit numbers. You can find them by going to a campground's
                webpage on recreation.gov and looking in the URL.
                    <br>
                    <strong>Example:</strong> https://www.recreation.gov/camping/campgrounds/<strong>232871</strong>
                </small>
            </div>
        </div>
    </div>
{% endblock %}
