<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load static %}
{% block title %}Campground List{% endblock %}
{% block content %}
<div class="container-fluid">

        <!--Link to Campground ID scraper-->
    {% if user.is_authenticated %}
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-7 text-center solid pt-5">
            <a href="{% url 'scrape' %}">Scrape campground ID numbers</a>
        </div>
    </div>
    {% endif %}

    <!--Heading-->
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-7 text-center solid pt-4">
            <h1 class="heading">List of all campgrounds</h1>
            <p>Here is a list of some campground IDs that I've collected.</p>
        </div>
    </div >

    <!--Campground ID Display-->
    <div class="row justify-content-center">
        <div class=" col-12 col-sm-10 col-md-7 text-center solid">
            <div id="show-camps" class="container">
                <div class="row text-center pb-3">
                    <input class="w-100 text-center" type="text" v-model="search" placeholder="search campgrounds"/>
                </div>
                <div class="row py-3 justify-content-center">
                    <button class="btn btn-success py-1" v-clipboard:copy="filteredIDs">
                        Click here to copy all the campground IDs shown below
                    </button>
                </div>
                <div class="row justify-content-center">
                    {% verbatim %}
                    <table class="table pt-4 pb-5" v-for="camp in filteredCamps">
                        <tr>
                            <td>
                                {{ camp.camp_id }}
                            </td>
                            <td>
                                {{ camp.name }}
                            </td>
                            <td>
                                {{ camp.parent }}
                            </td>
                        </tr>
                    </table>
                    {% endverbatim %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue-clipboard.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}